.container{
    margin: 4vw auto;
    background-color: white;
    border-radius:10px;
    min-width: 70%;
    min-height: 118rem;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0;
    background-color: #f9f5f3;
}

img{
    max-height: 50px;
    max-width: 100px;
}

.toplist{
    display: flex;
    justify-content: space-around;
}

.search{
    background: white;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 10rem;
    height: 2.5rem;
    padding-left:5px ;
   

}

.search > input{
    outline: none;
    border: none;
    background: none;
    width: fit-content;
    padding-left: 1rem;
}

.search-button{
    background-image: linear-gradient(to right bottom,#fbdb89,#f48982);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    height: 2.5rem;
    border: none;
    border-radius: 20px; 
    color: white;
    cursor: pointer;
    transition:  0.2s;
}

.search-button > i{
    border: none;
    color:white;
}

.search-button:hover{
    transform: scale(1.2) ;
}


li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
 
li:hover{
    background-color: #f2efee;
    border-radius: 10px;
    
}
i{
    padding-right: 10px;
    color:  rgb(211, 145, 121);
}

button :hover{
    transform: scale(1.3) perspective(2px);
}